<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordCount</title>
    <style>
        a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    }

    a:hover {
    background-color: rgb(241, 13, 13);
    color: black;
    }

    .previous {
    background-color: #eb8585;
    color: black;
    }

    .next {
    background-color: #04AA6D;
    color: white;
    }

    </style>
</head>
<body>
    <center>
        <h2>Hi, I am Rahul Mars.</h2> 
        <h2>Thank u!</h2>
        <a href="{% url 'home' %}" class="next">&laquo; Back to homepage</a>
    </center>
</body>
</html>

